<div>
    <h2>
        <span class="style1">कार्यक्रम</span><br />
    </h2>
    <br />
    
    <p>
        विद्याभारती व देश-प्रदेश के विभिन्न शासकीय, अशासकीय प्रतिष्ठानों द्वारा आयोजित संभाषण,
        गायन, अभिनय, लेखन, कला आदि की विविध प्रतियोगिताओं में विद्यार्थी प्रतिवर्ष भाग लेकर
        पुरूस्कार अर्जित करते हैं। इसके अतिरिक्त विद्यालय स्तर पर प्रत्येक माह के अंतिम
        शनिवार को कोई न कोई प्रतियोगिता अथवा बाल-सभा आयोजित की जाती है, जहाँ विद्यार्थियों
        को अपनी प्रतिभा के विकास का अवसर प्रचुर मात्रा में उपलब्ध होता है।<br />
        <br />
        <br />
        <br />
    </p>
    <p>
        <strong>संगीत शिक्षा</strong><br />
        भावनात्मक
        विकास एवं संस्कारों के सहज सम्प्रेषण के लिए संगीत को सर्वोत्तम माध्यम माना जाता
        है । नियमित संगीत कक्षाओं के अतिरिक्त विद्यालय के प्रत्येक छोटे- बडे आयोजन को संगीतमय
        बनाया जाता हैं ।
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <strong>संस्कृत शिक्षा</strong><br />
        आगामी
        शताब्दी में भारतीय मेधा को विश्व पटल पर स्वाभिमान एवं प्रखरता के साथ सामने लाने
        के लिए प्रत्येक विद्यार्थी के लिए संस्कृत विषय षष्ठी कक्षा से अनिवार्य है ।
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <strong>देश-दर्शन</strong><br />
        बालक
        अपने देश की संस्कृति,इतिहास एवं भूगोल को ठीक से जान सकें
    </p>
    <p>
        इस निमित वर्ष में एक बार योजनानुसार देश के प्रमुख धार्मिक एवं एतिहासिक स्थलों के
        दर्शन का कार्यक्रम होता है ।<br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <strong>नैतिक एवं अध्यात्मिक विकास<br />
        </strong>बालक विषय ज्ञान के साथ ही मातृ-पितृ,समाज एवं देश भक्त बने अर्थात वह घर
        का दीपक एवं जगती का दिवाकर बनें । इसके लिए विद्यालय में योग शिक्षा महापुरूष की जयन्तीयं,विभिन्न
        उत्सव,राष्ट्रभक्त से ओत- प्रोत गीत, भजन, संध्यावन्दना,ध्यान,प्राणायाम आदि गातिविधियॉं
        आयोजित की जाती हैं ।<br />
        <br />
        <strong>आचार्य अभिभावक सम्पर्क एवं सम्मेलन</strong><br />
        प्रत्येक सत्रीय परीक्षा के उपरांत अभिभावकों को सामूहिक रूप से विद्यार्थियों की शैक्षणिक
        प्रगति पर चर्चा के लिए आमंत्रित किया जाता है । इसके अतिरिक्त आवश्यकता होने पर मासान्त
        में अध्‍ र्दावकाश के बाद आचार्यो से मिलने की व्यवस्था है ।
    </p>
    <p>
        <br />
    </p>


  </div>