<div>

    <h2><font size="+2">विनम्र आग्रह...</font></h2>
    
    <p style="margin-right:20px;" align="justify" id="font"> 
   
     <span>मानव</span> ईश्वर की सर्वश्रेष्ठ कृति है, मानव जीवन व परमात्मा में अनुबंध है 
     और वह यह कि, प्रभु ने मनुष्य को इस पृथ्वी रूपी बगीचे की देखभाल करने, 
     इसे सुन्दर व उन्नत बनाने के लिए भेजा है हम विचार करें कि अभी तक हमने कोई उल्लेखनीय कार्य किया
      या अपने ज्ञान कर्म व व्यवहार से नवीन कीर्तिमान स्थापित किये है |<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>आज</span> आवश्यकता है हम 
अपने जीवन में सेवा, सहयोग, स्नेह, समरसता, सहानुभूति व सच्चाई को पर्याप्त स्थान दें एवं यह सब संस्कार व 
अनुशासन से सिंचित शिक्षा से ही सम्भव है <span>सरस्वती शिशु मंदिर</span> इस दिशा में हमारा सार्थक व सफल 
प्रयास है |
     </p>
     <p align="right" style="margin-right:20px;" id="font"><font color="#FF0000"><strong>
       
नागेश्वर पाटीदार</strong></font><br> 
<font color="#0066FF"><strong>अध्यक्ष</strong></font>
</p>

<h2><font size="+2">अपनी बात...</font></h2>

 
              



  <p style="margin-right:20px;" align="justify" id="font">
      <img src="/assets/images/DP.jpg" height="100px" width="100px">
    स्वतंत्रता प्राप्ति के पश्चात देश में आज भी गौरवशून्य , विवेकरहित व निराशाजनक शिक्षा प्रणाली प्रचलित है |
    भावी भारत के नौनिहालों को संस्कार व अनुशासन प्रेरित , भारतीय संस्कृति संस्कार , परंपरा व जीवन मूल्यों को
     अपने में समाहित करती , जन - जन के मन में राष्ट्र सेवा का संकल्प जगाने वाली शिक्षा पद्धति की 
     आवश्यकता है |
    सरस्वती विद्या मंदिर इन्हीं विचारों , भावनाओं व क्रियाओं का प्रत्यक्ष दर्शन है , जहाँ कल्पनाएँ आकार लेती है ,
     सपने साकार होते है एवं सुनहरे भविष्य के प्रत्यक्ष दर्शन होते है | विद्यालय के प्रत्येक क्रियाकलाप में समाहित है -
      बालक का सर्वांगीण विकास , अर्थात - मन , बुद्धि , आत्मा का विकास |
    शिक्षा यज्ञ के इस पावन कार्य में हम सब का समान योगदान आवश्यक है |
    सरस्वती शिशु मंदिर की प्रगति - पथ का प्रत्येक चरण अपने आप में गौरव गाथा से भरा है |
    आइये सब पढे सब बढ़े नित नवीन उपलब्धियां प्राप्त करते हुए राष्ट्र सेवा का संकल्प धारण करें | 
    
    </p>
    <p align="right" style="margin-right:20px;" id="font"><font color="#FF0000"><strong>
        
        दुर्गेश पांचाल</strong></font><br> 
 <font color="#0066FF"><strong>प्राचार्य</strong></font>
 </p>

</div>