<div>
  <h2>सुविधा व विभाग </h2>

  <p>लगभग 5 एकड़ भूमि पर फैला विद्यालय परिसर आधुनिक शिक्षा तकनीक और सर्वागीण विकास की सभीआवश्यकताओं की पूर्ति करता है। विशाल
    कक्षाकक्षों वाले अलग-अलग शैक्षणिक खण्ड़ों के अतिरिक्त इंटरनेट युक्त कम्प्यूटर की आधुनिक प्रयोगशालाओं, पुस्तकालय एवं वाचनालय
    से युक्त विद्यालय भवन है। इसके साथ ही खेलकूद सुविधाएँ एवं औषधीय कृषि क्षेत्र प्रक्षेत्र भी उपलब्ध है। सारी व्यवस्थाओं
    का सम्मिश्रण बालक के सर्वांगीण विकास की सभी आवश्यकताओं की पूर्ति करता है।</p>
  <strong>कम्प्यूटर शिक्षा</strong>
  <p>
    विद्यालय का पृथक कम्प्यूटर विभाग है, जिसके अंतर्गत कम्प्यूटरों से सुसज्जित प्रयोगशाला है। जिसमें योग्य एवं प्रशिक्षित आचार्यों
    द्वारा प्रशिक्षण दिया जाता है। छात्रों को एल.सी.डी. प्रोजेक्टर, इंटरनेट व स्लाइड प्रोजेक्टर आदि के द्वारा प्रशिक्षित
    किया जाता है।
  </p>
  <strong>स्वास्थ्य परीक्षण</strong>
  <p>
    विद्यालय में छात्रों का समय-समय पर शहर के श्रेष्ठ चिकित्सकों द्वारा चिकित्सा परीक्षण भी कराया जाता है। छात्रों के स्वास्थ्य
    तथा स्वच्छता पर विशेष ध्यान दिया जाता है। </p>
  <strong>प्रयोगशालाऐं</strong>
  <p>
    विज्ञान पढ़ने का नहीं, प्रयोग का विषय है, बालक विज्ञान के किसी भी सिंद्धांत को पढ़ने की अपेक्षा प्रयोग अच्छे तरीके से ग्रहण
    कर सकता है। </p>
  <strong>स्मार्ट क्लासेस </strong>

  <p>छात्रो को आधुनिक तकनीक के माध्यम से Smart Classes के माध्यम से शिक्षा प्रदान की जाती है जो काफी प्रभावी होती है</p>

  <strong>पुस्तकालय</strong>
  <p>छात्रों के भविष्य को संवारने में पुस्तकों का बड़ा ही महत्व है। विद्यालय में एक विशाल पुस्तकालय एवं वाचनालय की व्यवस्था
    है। </p>
  <strong>खेल एवं शारीरिक विकास </strong>
  <p>बालक के सर्वांगीण विकास हेतु शारीरिक विकास अति आवश्यक है। विद्याभारती अखिल भारतीय शिक्षा संस्थान एवं केन्द्रीय माध्यमिक शिक्षा
  बोर्ड के नीति-निर्दशों के अनुरूप शारीरिक शिक्षा का पाठ्यक्रम प्रत्येक विद्यार्थी के लिए अनिवार्य बनाया गया है। विद्यालय
  के खिलाड़ी प्रतिवर्ष राजकीय, केन्द्रीय माध्यमिक शिक्षा बोर्ड तथा विद्याभारती की स्पर्धाओं में राष्ट्रीय स्तर तक भाग लेते
  हैं।
  <br />
  <br /> 1. बौद्धिक विकास
  <br /> 2. कलात्मक विकास
  <br /> 3. नेतृत्व का विकास
  <br /> 4. योग शिक्षा
  </p>
  <br />
  <strong>शैक्षणिक गतिविधियाँ</strong>
  <br /><p> सामान्यत: बालक के शैक्षणिक विकास हेतु शिक्षण के समस्त विषयों (गणित, अंग्रेजी, विज्ञान, सामा.विज्ञान, हिन्दी, संस्कृत,
  कम्प्यूटर आदि) का 6:15 घण्टे का समय चक्र है।</p>
  <br />
  <br />
  <strong>अंग्रेजी संभाषण (स्पोकन इंग्लिश)</strong>
  <br /><p> वर्तमान सन्दर्भ में अंग्रेजी का ज्ञान बहुत महत्व का है। अंग्रेजी भाषा के बिना छात्र का ज्ञान अधूरा है। इसलिए विद्यालय
  में प्रतिदिन दो कालखण्ड अंग्रेजी के लगाये जाते हैं जिसमें से एक कालखण्ड अंग्रेजी विषय का तथा एक स्पोकन इंग्लिश का होता
  है। हमें आत्मविश्वास है कि यहाँ अध्ययनरत छात्र पब्लिक स्कूलों के छात्रों की अपेक्षा श्रेष्ठ अंग्रेजी संभाषण करेंगे।</p>
  <br />
  <br />
  <p>
    <strong>सतत् एवं व्यापक मूल्यांकन</strong>
    <br />
    <br />
    <strong>विद्यालय वेश व अन्य सामग्री </strong>
    <br /> विद्यालय वेश एवं अन्य शैक्षणिक सामग्री की व्यवस्था छात्रों को स्वयं करना है।
    <br />
    <br />
    <strong>विद्यालय वेश (सामान्य) </strong>- दो शर्ट पिच कलर की, दो पेण्ट कत्थ्ई कलर के, दो जोड़ी कत्थई कलर के मौजे, एक जोड़ी चमड़े
    के फीतेदार काले जूते।
    <br />
    <br />
    <strong>विद्यालय वेश (विशेष) </strong>- दो सफेद फुल शर्ट, दो सफेद फुल पैण्ट, एक जोड़ी सफेद मौजे, एक जोड़ी सफेद पी.टी. शूज।
    <br
    />
    <strong>विशेष खेल वेश (स्पेशल गेम)</strong>
    - जिस खेल को छात्र चयन करेगा उसका खेलवेश वस्तु भण्डार से क्रय करना होगा।
    <br />
    <strong>अन्य वस्त्र </strong>- शीतकाल में एक कत्थई कलर का ब्लेजर, एक कत्थई कलर का फुल स्वैटर, कत्थई कलर का स्कार्फ।
  </p>
</div>