
/* .borderedbox
{
	width: 150px;
    height: 120px;
}
.photogalleryinner {
    margin-top: 10px;
    float: left;
    height: 150px;
    margin-bottom: 15px;
}
.col-md-4 {
    width: 20%
}
 .col-lg-4
 {
    position: relative;
    min-height: 1px;
    padding-right: 5px;
    padding-left: 10px;
}
td:nth-child(n) {
    
    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    background-clip: padding-box;
}
.album-align{
    width: inherit;
    height: inherit;
}
 */

