

/* h1 {
    font-size: 2.0em;
    margin: 20px 0 0 0;
    font-weight: 400;   
}
h3 { 
   color: rgb(3, 3, 15);
} *//* 
table {
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid black;
    font-size:17px;
} */
/* input {
    width: 225px;
    margin: 8px 0;
    background-color: #dfdfdf;
    font-size:17px;
}
button {
    background-color: #008CBA;
    color: white;
    margin-top:10px;
}
button:hover {
    background-color: rgb(247, 228, 229);
}
.error{
    color: red;
    font-size: 20px;
}
.success{
    color: green;
    font-size: 20px;
} 
#text-container {
    width: 712px;
    height: 640px;
    overflow-y: scroll;
    overflow-x: scroll;
}
.file-input{
    width: 250px;
    height: 20px;
    margin: 0px 0;
    background-color: #bbb4b4;
    font-size:13px;
}

#table-prop {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#table-prop td, #table-prop th {
    border: 1px solid #ddd;
    padding: 8px;
}

#table-prop tr:nth-child(even){background-color: #f2f2f2;}

#table-prop tr:hover {background-color: #ddd;}

#table-prop th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #ddd;
    color: black    ;
} */

.upload-file{
    display: block;
}