<div>
    <h3>Class I to V :</h3>
    <div>Admission fees Rs. 500/- (One time, Non-Refundable)</div>
    <div>Caution Deposit Rs.100/- (one time, Refundable)</div>
    <h3></h3>
    <h3>Class V to X:</h3>
    <div>
      <div>Admission fees Rs. 700/- (One time, Non-Refundable)</div>
      <div>Caution Deposit Rs. 100/- (one time, Refundable)</div>
      <div></div>
    </div>
    <table class="table table-hover">
      <tbody>
        <tr>
          <td colspan="2" width="691">
            <h4 style="text-align: center;">Annual School Fees for
              AY-2015-16, 2016-17 &amp; 2017-18</h4>
          </td>
        </tr>
        <tr>
          <td style="text-align: center;" width="241"><strong>Class</strong></td>
          <td style="text-align: center;" width="232"><strong>Annual School Fees</strong></td>
        </tr>
        <tr>
          <td width="241" style="text-align: center;" >LKG &amp; UKG</td>
          <td style="text-align: center;" width="232">Rs.2000/-</td>
        </tr>
        <tr>
          <td style="text-align: center;" width="241">I,II &amp; III</td>
          <td style="text-align: center;" width="232">Rs.4000/-</td>
        </tr>
        <tr>
          <td style="text-align: center;" width="241">IV &amp; V</td>
          <td style="text-align: center;" width="232">Rs.5000/-</td>
        </tr>
        <tr>
          <td style="text-align: center;" width="241">VI,VII &amp; VIII</td>
          <td style="text-align: center;" width="232">Rs.6000/-</td>
        </tr>
        <tr>
          <td style="text-align: center;" width="241">IX &amp; X</td>
          <td style="text-align: center;" width="232">Rs.7000/-</td>
        </tr>
      </tbody>
    </table>
  </div>
